---
---
<h1>Give something away</h1>

<form id="post-item-form">
  <label>
    Item title<br />
    <input id="title" name="title" required />
  </label>

  <br /><br />

  <label>
    Short description<br />
    <textarea id="description" name="description" required></textarea>
  </label>

  <br /><br />

  <button type="submit">Post item</button>
</form>

<p>Images will be added later.</p>

<!-- Astro requires is:inline for public/ assets -->
<script src="/post-item.js" is:inline></script>
