---
---
<h1>Give something away</h1>

<form method="POST" action="https://handmefree-post-item.ehsankarimi27.workers.dev">
  <label>
    Item title<br />
    <input name="title" required />
  </label>

  <br /><br />

  <label>
    Short description<br />
    <textarea name="description" required></textarea>
  </label>

  <br /><br />

  <button type="submit">Post item</button>
</form>

<p>Images will be added later.</p>
